/* THEMES */

/* Default */
/* Dark */
:root{
  --bg: 19,20,23,1.0;
  --bg-02: 39,49,54,1.0;
  --bg-grd: #f0f0f0;
  --bg-active: 48,190,255,0.2;  
  --bg-panel: 255,255,255,0.03;
  --txt: 255,255,255,0.7;   
  --txt-active: 255,255,255,1.0;
  --txt-muted: 255,255,255,0.5;

  --accent: 48,190,255,1.0;
}

/* Light */
:root:has(#toggleTheme:checked)  {
  --bg: 0,0,0,0.8;
  --bg-02: 0,0,0,0.5;
  --bg-grd: linear-gradient(180deg, #024c76 0, #0a6085 100%);
  --bg-active: 48,190,255,0.2;
  --bg-panel: 255,255,255,0.1;
  --txt: 255,255,255,0.7;
  --txt-active: 255,255,255,1.0;
  --txt-muted: 0,0,0,0.5;
  --txt-shadow: -1px 1px 0 rgba(90, 89, 89, 0.5);
}



